.con{
    /* background-color: aquamarine; */
    width: 95vw;
    height:fit-content;
    display: flex;
    margin-top: 9vh;
    justify-content:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
}